.create-pin-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  .create-pin-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-container input,
  .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form-container input[type="file"] {
    margin-top: 10px;
  }
  
  .preview-image {
    display: block;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .form-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #45a049;
  }
  