.icon{
    width:50px;
    border-radius:50%;
    cursor:pointer;
    padding:10px;
    
    
}
.logout{
    margin-right: 10px;
    padding-bottom:25px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #0395F6;
    background-color: #e23c0a;
    color: white;
}
.createpin{
    margin-right: 10px;
    padding-bottom:25px;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #0395F6;
    background-color: #3423d1;
    color: white;
}
.input-group{
    width: 500px;
}